@page "/bpmn/{diagram}"
@using Microsoft.JSInterop
@layout EmptyLayout
@inject IJSRuntime JS
<div class="row">
    <div class="col-md-9">
        <div style="height: 100vh;width: 100%" id="canvas"></div>
    </div>
    <div class="col-md-3">
        <div id="panel"></div>
        <button @onclick="SaveDiagram">Save Diagram</button>
    </div>
</div>

@code {
    [Parameter]
    public string Diagram { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("bpmn.initialize", Diagram);
        }
    }

    private async Task SaveDiagram()
    {
        var res = await JS.InvokeAsync<string>("bpmn.exportDiagram");
        var filePath = Path.Combine("wwwroot", $"{Diagram}.bpmn");
        await File.WriteAllTextAsync(filePath, res);
    }

}